In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
plt.rcParams["figure.figsize"] = (12,7)
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('data/data_interview_test.csv',sep=":")

## Exploratory Data Analysis

In [7]:
df.head(10)

  receipt_id  company_id matched_transaction_id feature_transaction_id  ...  ShortNameMatch  DifferentPredictedDate  PredictedAmountMatch  PredictedTimeCloseMatch
0     10,000       10000                 10,468                 10,000  ...             0.0                     1.0                   0.0                      0.0
1     10,000       10000                 10,468                 10,001  ...             0.0                     1.0                   0.0                      0.0
2     10,000       10000                 10,468                 10,003  ...             0.0                     1.0                   0.0                      0.0
3     10,000       10000                 10,468                 10,004  ...             0.0                     1.0                   0.0                      0.0
4     10,000       10000                 10,468                 10,005  ...             0.0                     1.0                   0.0                      0.0
5     10,000       10000                 10,468                 10,006  ...             0.0                     1.0                   0.0                      0.0
6     10,000       10000                 10,468                 10,008  ...             0.0                     1.0                   0.0                      0.0
7     10,000       10000                 10,468                 10,009  ...             0.0                     1.0                   0.0                      0.0
8     10,000       10000                 10,468                 10,010  ...             0.0                     1.0                   0.0                      0.0
9     10,000       10000                 10,468                 10,011  ...             0.0                     1.0                   0.0                      0.0

[10 rows x 14 columns]

In [9]:
df.describe()

         company_id  DateMappingMatch  AmountMappingMatch  DescriptionMatch  ...  ShortNameMatch  DifferentPredictedDate  PredictedAmountMatch  PredictedTimeCloseMatch
count  12034.000000      12034.000000        12034.000000      12034.000000  ...    12034.000000            12034.000000          12034.000000             12034.000000
mean   27247.797906          0.217901            0.031660          0.021522  ...        0.037893                0.753532              0.001005                 0.076533
std    12024.542988          0.384535            0.122611          0.116995  ...        0.190945                0.430972              0.020134                 0.265860
min    10000.000000          0.000000            0.000000          0.000000  ...        0.000000                0.000000              0.000000                 0.000000
25%    20000.000000          0.000000            0.000000          0.000000  ...        0.000000                1.000000              0.000000                 0.000000
50%    30000.000000          0.000000            0.000000          0.000000  ...        0.000000                1.000000              0.000000                 0.000000
75%    30000.000000          0.000000            0.000000          0.000000  ...        0.000000                1.000000              0.000000                 0.000000
max    50000.000000          1.000000            0.900000          0.800000  ...        1.000000                1.000000              0.600000                 1.000000

[8 rows x 11 columns]

In [8]:
df.dtypes

receipt_id                  object
company_id                   int64
matched_transaction_id      object
feature_transaction_id      object
DateMappingMatch           float64
AmountMappingMatch         float64
DescriptionMatch           float64
DifferentPredictedTime     float64
TimeMappingMatch           float64
PredictedNameMatch         float64
ShortNameMatch             float64
DifferentPredictedDate     float64
PredictedAmountMatch       float64
PredictedTimeCloseMatch    float64
dtype: object

In [6]:
prof = ProfileReport(df)
prof.to_file(output_file='EDA.html')

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]